*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offers{
    background-color: #e8ebec;
}

.offers-container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 100px 0;
}

.offers-section{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;

}

.img-div{
    width: 300px;
    margin-top: 70px;
}

.image{
    width: 100%;
}

.offer-btn{
    background: linear-gradient(to right,#d5d8e6 0%,  #d6d6e8 51%, #e1d3e8 100% );
    color: #b9ace3;
    font-weight: 700;
    border: none;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 2px;
    font-size: 15px;
}

.offer-h3{
    width: 250px;
    word-wrap: wrap;
    margin-bottom: 25px;
    font-size: 25px;

}

.offer-p{
    font-size: 15px;
    margin-bottom: 25px;
    color: #858585;
    width: 300px;
    word-wrap: wrap;
}

.buy-now-div{
    display: flex;
    align-items: center;
}

.buy-now-div button{
    margin-right: 20px;
    background: linear-gradient( 20deg, #57a6d4 30%, #9b8ee3 70%);
    color: #cee0f2;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;

}

.buy-now-div p{
    border-bottom: 2px solid black;
    font-weight: 600;
    font-size: 15px;

}

.offers-section-2{
    margin-top: 100px;
}